/* 

    "Sour Gummy", sans-serif;
    "Pixelify Sans", sans-serif;

*/
@import url('https://fonts.googleapis.com/css2?family=Pixelify+Sans:wght@400..700&family=Sour+Gummy:ital,wght@0,100..900;1,100..900&display=swap');


*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root{
    --primary: #7b6fff;
    --secondary: #372f8b;
    --error: #972f42;
    --background: #17153B;
    --text-primary: #C8ACD6;
    --text-secondary: #937f9c;
    --border: #3c343f;
}

::-webkit-scrollbar{
    width: 5px;
    background-color: transparent;
}

::-webkit-scrollbar-thumb{
    background-color: var(--primary);
    border-radius: 10px;
}

a{
    text-decoration: none;
    color: var(--text-primary);
}

body {
    font-family: "Sour Gummy", sans-serif;
    font-size: 18px;
    background-color: var(--background);
    color: var(--text-primary);
    width: 100%;
    height: 100%;
}

.popup{
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.747);
    display: none;
    align-items: center;
    justify-content: center;
    z-index: 1000;
}

.cert_image{
    min-width: 500px;
    overflow: hidden;
    position: relative;
    border: 1px solid var(--border);
}

.cert_image img{
    width: 800px;
    height: 100%;
    object-fit: cover;
    transition: transform 0.3s ease;
}

.popup.show{
    display: flex;
}

.container{
    padding: 10px;
    width: 100%;
}

.header{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

/* HEADER */
.header .side{
    display: flex;
    align-items: center;
    justify-content: center;
}

.header .side.logo{
    display: block;
    text-align: center;
    line-height: 25px;
    padding: 10px;
}

/* navigation */
.header .side .navItem{
    /* border: 1px solid var(--border); */
    padding: 10px;
    margin-left: 10px;
    width: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    letter-spacing: 3px;
    border-bottom: 1px solid transparent;

    transition: color .5s ease;
    transition: border-bottom .5s ease;
}

/* bold the selected navigation bar */
.header .side .navItem.selected{
    font-weight: bold;
    color: var(--primary);
}

/* CATEGORIES */
.categories{
    display: flex;
    align-items: center;
    justify-content: start;
    width: 100%;
    padding: 10px;
    margin-top: 20px;
}

.categories .list{
    margin-left: 10px;
    display: flex;
    align-items: center;
    justify-content: start;
}

.categories .list .listItem{
    padding: 10px;
    border-radius: 10px;
    width: 200px;
    margin-right: 10px;
    cursor: pointer;

    background: linear-gradient(to right, var(--primary), var(--secondary));
    background-repeat: no-repeat;
    background-size: 0% 100%;
    background-position: left;
    transition: 0.5s ease;
}

.categories .list .listItem.selected{
    background-color: var(--primary);
    color: var(--text-primary);
    font-weight: bold;
}

.cat_class{
    width: 100%;
    margin-top: 10px;
    display: none;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.cat_class.show{
    display: flex;
}

.cat_class .display_art{
    width: 350px;
    height: 450px;
    margin: 10px;
    overflow: hidden;
    position: relative;
    animation: appear 0.5s ease-in-out;
}

.cat_class .display_art .overflow{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.55);
    transition: background-color 0.2s ease;
}

.cat_class .display_art img{
    display: block;
    object-fit: cover;
    width: 100%;
    height: 100%;
}


.cat_class .display_art .classname{
    font-size: 40px;
    text-align: center;
    letter-spacing: 2px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* ABOUT */
.body{
    margin-top: 20px;
    padding: 10px;
    display: flex;
    align-items: start;
    justify-content: space-between;
}

.body .side{
    width: 50%;
}

.body .side .greetings{
    margin: 10px;
    letter-spacing: 2px;
}

.body .side .greetings p{
    color: var(--text-secondary);
}

.body .side .greetings p span{
    color: var(--primary);
}

.body .side .about{
    margin: 10px;
    margin-top: 20px;
    font-size: 20px;
    line-height: 1.5;
    letter-spacing: 2.5px;
}

.body .side .about span{
    color: var(--primary);
}

.body .side .education{
    margin-top: 20px;
    padding-top: 20px;
    border-top: 1px solid var(--border);
}

.body .side .edutitle{
    padding: 5px;
    padding-left: 10px;
    color: var(--text-primary);
    letter-spacing: 5px;
}

.body .side .eduItem{
    width: 100%;
    margin-top: 20px;
    min-height: 100px;
    display: flex;
}

.body .side .eduItem .image{
    width: 200px;
    height: 200px;
}

.body .side .eduItem .image img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.body .side .eduItem .school{
    flex: 1;
    padding-left: 10px;
    padding-right: 10px;
    letter-spacing: 2px;
}

.body .side .eduItem .school h4{
    letter-spacing: 2px;
}

.body .side .software{
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: start;
    flex-wrap: wrap;
}

.body .side .software .software_item{
    width: 100px;
    height: 100px;
    margin: 10px;
}

.body .side .software .software_item img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
    margin-right: 10px;
}

/* certificate */
.education .certificate{
    margin-top: 20px;
    padding-left: 10px;
    padding-right: 10px;
}

.education .certificate .cert_link{
    color: var(--text-secondary);
    font-style: italic;
}

.education .certificate .cert_lists_label{
    margin-top: 10px;
    margin-bottom: 10px;
    letter-spacing: 3px;
}

.education .certificate .cert_lists{
    list-style: none;
    padding-left: 30px;
}

.education .certificate .cert_lists li{
    color: var(--text-secondary);
    cursor: pointer;
}

/* Experience */
.education .experience{
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 20px;
}

.education .experience .company{
    color: var(--text-secondary);
}

.education .experience .works{
    list-style:circle;
    padding-left: 30px;
    color: var(--text-secondary);
}

/* right side of about page */
.body .about_info{
    min-height: 550px;
    display: flex;
    align-items: center;
    justify-content: center;
    animation: appear 0.5s ease-in-out;
}

.body .about_info .my_photo{
    width: 500px;
    min-height: 500px;
}

.body .about_info .my_photo img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* VIEW */
.view{
    margin-top: 20px;
    padding: 10px;
    display: flex;
    align-items: start;
    justify-content: center;
}

.view .toView{
    width: 80%;
    min-height: 500px;
}

.view .toView .categ{
    text-align: center;
    margin: 10px;
}

.view .toView .categ.category_name{
    letter-spacing: 5px;
    margin-bottom: 30px;
}

.view .toView .categ.gallery{
    column-count: 3;
    column-gap: 15px;
}

.view .toView .categ.gallery img{
    width: 100%;
    margin-bottom: 15px;
    display: block;
    object-fit: cover;
    transition: transform 0.3s ease;
    animation: appear 0.5s ease-in-out;
}

.contact{
    min-height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.contact .contact_content{
    text-align: center;
}

.contact .contact_item{
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 300px;
}

.contact .contact_item .contactLink{
    margin: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    color: var(--text-secondary);
}

/* effects here */

.header .side .navItem:hover:not(.selected){
    font-weight:600;
    color: var(--primary);
}

.header .side .navItem:hover{
    border-bottom: 3px solid var(--secondary);
}

/* for the display art image overflow - make it darker when hover */
.cat_class .display_art:hover .overflow{
    background-color: rgba(5, 1, 17, 0.8);
}

/* for contact link */
.contact .contact_item .contactLink:hover{
    color: var(--text-primary);
}

.categories .list .listItem:hover:not(.selected){
    color: var(---dark);
    background-size: 100% 100%;
    transition: 0.4s ease;
}

.education .certificate .cert_lists li:hover{
    color: var(--text-primary);
}

.view .toView .categ.gallery img:hover{
    transform: scale(1.05);
    transition: transform 0.3s ease;
}

/* KEYFRAMES and animations */

@keyframes appear {
    from {
        opacity: 0;
        transform: translateY(50px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

/* for debugging layout */
/* .showBorder{
    border: 1px solid var(--border);
} */